<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yc.dao.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.yc.po.Role" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="roleCode" property="rolecode" jdbcType="VARCHAR" />
    <result column="roleName" property="rolename" jdbcType="VARCHAR" />
    <result column="createdBy" property="createdby" jdbcType="BIGINT" />
    <result column="creationDate" property="creationdate" jdbcType="TIMESTAMP" />
    <result column="modifyBy" property="modifyby" jdbcType="BIGINT" />
    <result column="modifyDate" property="modifydate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, roleCode, roleName, createdBy, creationDate, modifyBy, modifyDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from smbms_role
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from smbms_role
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.yc.po.Role" >
    insert into smbms_role (id, roleCode, roleName, 
      createdBy, creationDate, modifyBy, 
      modifyDate)
    values (#{id,jdbcType=BIGINT}, #{rolecode,jdbcType=VARCHAR}, #{rolename,jdbcType=VARCHAR}, 
      #{createdby,jdbcType=BIGINT}, #{creationdate,jdbcType=TIMESTAMP}, #{modifyby,jdbcType=BIGINT}, 
      #{modifydate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.yc.po.Role" >
    insert into smbms_role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rolecode != null" >
        roleCode,
      </if>
      <if test="rolename != null" >
        roleName,
      </if>
      <if test="createdby != null" >
        createdBy,
      </if>
      <if test="creationdate != null" >
        creationDate,
      </if>
      <if test="modifyby != null" >
        modifyBy,
      </if>
      <if test="modifydate != null" >
        modifyDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="rolecode != null" >
        #{rolecode,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationdate != null" >
        #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yc.po.Role" >
    update smbms_role
    <set >
      <if test="rolecode != null" >
        roleCode = #{rolecode,jdbcType=VARCHAR},
      </if>
      <if test="rolename != null" >
        roleName = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="createdby != null" >
        createdBy = #{createdby,jdbcType=BIGINT},
      </if>
      <if test="creationdate != null" >
        creationDate = #{creationdate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyby != null" >
        modifyBy = #{modifyby,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        modifyDate = #{modifydate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yc.po.Role" >
    update smbms_role
    set roleCode = #{rolecode,jdbcType=VARCHAR},
      roleName = #{rolename,jdbcType=VARCHAR},
      createdBy = #{createdby,jdbcType=BIGINT},
      creationDate = #{creationdate,jdbcType=TIMESTAMP},
      modifyBy = #{modifyby,jdbcType=BIGINT},
      modifyDate = #{modifydate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>